In [2]:
import pandas as pd
df_list=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

# In this notebool, I script Wikipadia page on "List of postal codes of Canada", and then Segmenting and Clustering of Neighborhoods

In [3]:
df=df_list[0]

In [4]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [5]:
indexNames = df[df['Borough'] == 'Not assigned' ].index
df.drop(indexNames , inplace=True)

In [6]:
df1=df.reset_index(drop=True)

In [7]:
df1.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [8]:
df1.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [9]:
df2=df1.groupby(['Postcode','Borough'], sort=False).agg( ','.join)

In [10]:
df2.head()

                                             Neighbourhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto         Harbourfront,Regent Park
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Queen's Park                         Not assigned

In [11]:
df3=df2.reset_index(drop=False)

In [12]:
df3.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

In [13]:
df3.loc[df3['Neighbourhood']=='Not assigned', 'Neighbourhood'] = df3['Borough']
df3.head(10)

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park
5      M9A         Etobicoke                 Islington Avenue
6      M1B       Scarborough                    Rouge,Malvern
7      M3B        North York                  Don Mills North
8      M4B         East York   Woodbine Gardens,Parkview Hill
9      M5B  Downtown Toronto          Ryerson,Garden District

In [14]:
df3.shape

(103, 3)

In [15]:
 df4=df3.sort_values(by=['Postcode'])

In [16]:
df4.head()

   Postcode      Borough                         Neighbourhood
6       M1B  Scarborough                         Rouge,Malvern
12      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
18      M1E  Scarborough       Guildwood,Morningside,West Hill
22      M1G  Scarborough                                Woburn
26      M1H  Scarborough                             Cedarbrae

In [17]:
df5=df4.reset_index(drop=True)

In [18]:
df5.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

## I used the Excel file to read the latitude and longitude

In [19]:
path='https://cocl.us/Geospatial_data'
dfl = pd.read_csv(path)

In [21]:
dfl.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
df5['Latitude']=dfl['Latitude']
df5['Longitude']=dfl['Longitude']

In [47]:
df5.columns = ['Postalcode', 'Borough','Neighborhood','Latitude','Longitude']
df5.head(30)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest,Cliffside,Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff,Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park,Scarborough Town Centre,Wexford He...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale,Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners,Sullivan,Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North,L'Amoreaux East,Milliken,Steel...",43.815252,-79.284577
15,M1W,Scarborough,L'Amoreaux West,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview,Henry Farm,Oriole",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,"Silver Hills,York Mills",43.757490,-79.374714
21,M2M,North York,"Newtonbrook,Willowdale",43.789053,-79.408493
22,M2N,North York,Willowdale South,43.770120,-79.408493
23,M2P,North York,York Mills West,43.752758,-79.400049
24,M2R,North York,Willowdale West,43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills North,43.745906,-79.352188
27,M3C,North York,"Flemingdon Park,Don Mills South",43.725900,-79.340923
28,M3H,North York,"Bathurst Manor,Downsview North,Wilson Heights",43.754328,-79.442259
29,M3J,North York,"Northwood Park,York University",43.767980,-79.487262